@media screen and (max-width: 1399px) {
    .skill-list ul li h3 {
        font-size: 22px;
    }
    .skill-list-icon-img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 1199px) {
    .skill-list-icon-img {
        width: 80px;
        height: 85px;
    }
}

@media screen and (max-width: 991px) {
    .skill-list ul li h3 {
        font-size: 19px;
    }
    .skill-list-icon-img {
        width: 60px;
        height: 65px;
    }
}

@media screen and (max-width: 767px) {
    .skill-list ul {
        flex-wrap: wrap;
        gap: 16px;
    }

    .skill-list ul li h3 {
        font-size: 17px;
    }

    .skill-list ul li {
        width: calc(25% - 12px);
    }

    .skill-list-icon-img {
        width: 50px;
        height: 55px;
    }

}

@media screen and (max-width: 575px) {
    .skill-list ul {
        gap: 16px;
    }

    .skill-list ul li h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .skill-list ul li {
        width: calc(50% - 8px);
    }

    .contact {
        padding-bottom: 50px;
        padding-top: 30px;
    }

}